*{
  text-shadow: none;
}

form{
  margin: 30px;
}

#submitNew, #backBtn{
  width: 200px;
  margin: 40px auto;
}

.ui-popup-container{
  min-width: 500px;
}

 .ui-checkbox{
  display: inline;
}

.ui-mobile label, .ui-controlgroup-label{
  display: inline;
}


::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}
:-ms-input-placeholder {
   color: white;
}
