*{
  text-shadow: none;
}

form{
  margin: 30px;
}

#submitNew, #backBtn{
  width: 200px;
  margin: 40px auto;
}

.ui-popup-container{
  min-width: 500px;
}

 .ui-checkbox{
  display: inline;
}

.ui-mobile label, .ui-controlgroup-label{
  display: inline;
}
